body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}   

.header {
    background-color: #a67c52;
    color: white;
    padding: 10px 15px;
    text-align: center;
}

.header img {
    max-width: 120px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

h1 {
    color: #5a5a5a;
    text-align: center;
}

.search-section {
    padding: 15px;
    background-color: #fff;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}    

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #8c6a41;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #754c29;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #e8e8e8;
}
@media (max-width: 600px) {
    .header img {
        width: 100px;
    }
    input[type="text"],
    input[type="number"],
    buttom {
        width: 100%;
        margin: 5px 0;
    }
}